# Parcel
.parcel-cache
.cache

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

lib/
coverage/
package/